.testimonial {
  @extend %centered;

  &__header {
    opacity: .8
  }

  &__image {
    @include circle(60px);
  }

  &__text {
    font-weight: 400;
  }

  &__footer {
    font-size: rem(13px);
    opacity: .8
  }
}
