<div class="page-contact">
  <div class="page-contact__content">
    <div class="page-contact__main">
      <div class="contact-form">
        <div>
          <input type="text" placeholder="Name" class="form__name">
        </div>
        <div class="spacing--vertical-1"></div>
        <div>
          <textarea class="form__text" placeholder="Text" ></textarea>
        </div>
        <div class="spacing--vertical-1"></div>
        <div class="form__submit">
          <input type="submit" value="Submit">
        </div>
      </div>
    </div>
    
    <div class="page-contact_footer">
      <img class="logo__image" src="assets/logo.png"/>
    </div>
  </div>
</div>