<div class="page-contact">
  <div class="page-contact__content">
    <div class="page-contact__main">
      <div class="form">
        <div>
          <input class="form__name" type="text" placeholder="Name" class="form__name">
        </div>
        <div class="spacing--vertical-1"></div>
        <div>
          <textarea class="form__text" placeholder="Text" ></textarea>
        </div>
        <div class="spacing--vertical-1"></div>
        <div class="form__submit">
          <button class="submit-btn" type="button" >Submit</button>
        </div>
      </div>
    </div>
    
    <div class="page-contact__footer">
      <img class="logo__image" src="assets/logo.png"/>
    </div>
  </div>
</div>