@import 'utils';
$multiplier: 8px;
.spacing {
  &--vertical-1 {
    height: rem($multiplier*1);
  }
  &--vertical-2 {
    height: rem($multiplier*2);
  }
  &--vertical-3 {
    height: rem($multiplier*3);
  }
  &--vertical-4 {
    height: rem($multiplier*4);
  }
  &--vertical-5 {
    height: rem($multiplier*5);
  }
  &--vertical-6 {
    height: rem($multiplier*6);
  }
  &--vertical-7 {
    height: rem($multiplier*7);
  }
  &--vertical-8 {
    height: rem($multiplier*8);
  }
  &--vertical-9 {
    height: rem($multiplier*9);
  }
  &--vertical-10 {
    height: rem($multiplier*10);
  }
  &--horizontal-1 {
    width: rem($multiplier*1);
  }
  &--horizontal-2 {
    width: rem($multiplier*2);
  }
  &--horizontal-3 {
    width: rem($multiplier*3);
  }
  &--horizontal-4 {
    width: rem($multiplier*4);
  }
  &--horizontal-5 {
    width: rem($multiplier*5);
  }
  &--horizontal-6 {
    width: rem($multiplier*6);
  }
  &--horizontal-7 {
    width: rem($multiplier*7);
  }
  &--horizontal-8 {
    width: rem($multiplier*8);
  }
  &--horizontal-9 {
    width: rem($multiplier*9);
  }
  &--horizontal-10 {
    width: rem($multiplier*10);
  }
}
