.spacing {
  &--vertical-1 {
    height: 8px;
  }
  &--vertical-2 {
    height: 16px;
  }
  &--vertical-3 {
    height: 24px;
  }
  &--vertical-4 {
    height: 32px;
  }
  &--vertical-5 {
    height: 40px;
  }
  &--vertical-6 {
    height: 48px;
  }
  &--vertical-7 {
    height: 56px;
  }
  &--vertical-8 {
    height: 64px;
  }
  &--vertical-9 {
    height: 72px;
  }
  &--vertical-10 {
    height: 80px;
  }
  &--horizontal-1 {
    width: 8px;
  }
  &--horizontal-2 {
    width: 16px;
  }
  &--horizontal-3 {
    width: 24px;
  }
  &--horizontal-4 {
    width: 32px;
  }
  &--horizontal-5 {
    width: 40px;
  }
  &--horizontal-6 {
    width: 48px;
  }
  &--horizontal-7 {
    width: 56px;
  }
  &--horizontal-8 {
    width: 64px;
  }
  &--horizontal-9 {
    width: 72px;
  }
  &--horizontal-10 {
    width: 80px;
  }
}
