<section class="page-testimonials">
  <section class="page-testimonials__content">

    <header class="page-testimonials__header">
      <h3 class="page-testimonials__name">Testimonials</h3>
      <div class="spacing--vertical-3"></div>
      <h1 class="page-testimonials__title">Happy students</h1>
    </header>

    <div class="spacing--vertical-10"></div>

    <section class="page-testimonials__body">
      <div class="page-testimonials__item">
        <div class="spacing--horizontal-4"></div>
        <article class="testimonial">
          <section class="testimonial__header">
            Nice work on your Frontend course! Nice work on your Frontend
            course! Nice work on your Frontend course!
          </section>
          <div class="spacing--vertical-3"></div>
          <img
            src="https://media.licdn.com/dms/image/C5603AQEoxLdCS7FQPw/profile-displayphoto-shrink_800_800/0?e=1558569600&v=beta&t=RmV03Jh6luBmx24O32kssFe3p5_CELhIyZ1VjfKkLe0"
            class="testimonial__image"
          />
          <div class="spacing--vertical-2"></div>
          <h3 class="testimonial__text">Joan Rueda</h3>
          <div class="spacing--vertical-1"></div>
          <span class="testimonial__footer">Frontend developer</span>
        </article>
        <div class="spacing--horizontal-4"></div>
      </div>

      <div class="page-testimonials__item">
        <div class="spacing--horizontal-4"></div>
        <article class="testimonial">
          <section class="testimonial__header">
            Nice work on your Frontend course! Nice work on your Frontend
            course! Nice work on your Frontend course!
          </section>
          <div class="spacing--vertical-3"></div>
          <img
            src="https://media.licdn.com/dms/image/C4E03AQH0nel4k_kPhA/profile-displayphoto-shrink_800_800/0?e=1558569600&v=beta&t=7lnV6GN7iPsuH1F5NqHUi9mY7cZSJSZ30HJ5_FWq--I"
            class="testimonial__image"
          />
          <div class="spacing--vertical-2"></div>
          <h3 class="testimonial__text">David Gomez</h3>
          <div class="spacing--vertical-1"></div>
          <span class="testimonial__footer">Fullstack</span>
        </article>
        <div class="spacing--horizontal-4"></div>
      </div>
      <div class="page-testimonials__item">
        <div class="spacing--horizontal-4"></div>
        <article class="testimonial">
          <section class="testimonial__header">
            Nice work on your Frontend course! Nice work on your Frontend
            course! Nice work on your Frontend course!
          </section>
          <div class="spacing--vertical-3"></div>
          <img
            src="https://media.licdn.com/dms/image/C5603AQE3DZfEDSc9fg/profile-displayphoto-shrink_800_800/0?e=1558569600&v=beta&t=PJ15cxlZMP9ANIuYOGE3Pko7wBawM20jKjqGgKnlqTA"
            class="testimonial__image"
          />
          <div class="spacing--vertical-2"></div>
          <h3 class="testimonial__text">Arturo Rubio</h3>
          <div class="spacing--vertical-1"></div>
          <span class="testimonial__footer">Frontend developer</span>
        </article>
        <div class="spacing--horizontal-4"></div>
      </div>
    </section>
  </section>
</section>
