
@import '../styles/main';

.page-testimonials {
  &__header {
    background-color: transparent;
  }

  &__name {
    color: yellow;
    font-weight: bold;
  }

  &__title {
    font-size: rem(32px);
    font-weight: bold;
  }

  &__body {
    display: flex;
  }

  &__item {
    display: flex;
  }
}
