<div class="page-testimonials">
  <div class="page-testimonials__content">
    <div class="page-testimonials__main" >
      <div class="page-testimonials__item">
        <div class="spacing--horizontal-4"></div>
        <div class="testimonial">
          <img
            src="https://media.licdn.com/dms/image/C5603AQEoxLdCS7FQPw/profile-displayphoto-shrink_800_800/0?e=1558569600&v=beta&t=RmV03Jh6luBmx24O32kssFe3p5_CELhIyZ1VjfKkLe0"
            class="testimonial__image"
          />
          <div class="spacing--vertical-2"></div>
          <div class="testimonial__name">Unknown</div>
          <div class="spacing--vertical-1"></div>
          <div class="testimonial__text">
            <p>Me ha gustado el curso.</p>
            <p>¡Espero que se haga la continuación!</p>
          </div>
        </div>
        <div class="spacing--horizontal-4"></div>
      </div>

      <div class="page-testimonials__item">
        <div class="spacing--horizontal-4"></div>
        <div class="testimonial">
          <img
            src="https://media.licdn.com/dms/image/C5603AQEoxLdCS7FQPw/profile-displayphoto-shrink_800_800/0?e=1558569600&v=beta&t=RmV03Jh6luBmx24O32kssFe3p5_CELhIyZ1VjfKkLe0"
            class="testimonial__image"
          />
          <div class="spacing--vertical-2"></div>
          <div class="testimonial__name">Unknown</div>
          <div class="spacing--vertical-1"></div>
          <div class="testimonial__text">
            <p>Me ha gustado el curso.</p>
            <p>¡Espero que se haga la continuación!</p>
          </div>
        </div>
        <div class="spacing--horizontal-4"></div>
      </div>

      <div class="page-testimonials__item">
        <div class="spacing--horizontal-4"></div>
        <div class="testimonial">
          <img
            src="https://media.licdn.com/dms/image/C5603AQEoxLdCS7FQPw/profile-displayphoto-shrink_800_800/0?e=1558569600&v=beta&t=RmV03Jh6luBmx24O32kssFe3p5_CELhIyZ1VjfKkLe0"
            class="testimonial__image"
          />
          <div class="spacing--vertical-2"></div>
          <div class="testimonial__name">Unknown</div>
          <div class="spacing--vertical-1"></div>
          <div class="testimonial__text">
            <p>Me ha gustado el curso.</p>
            <p>¡Espero que se haga la continuación!</p>
          </div>
        </div>
        <div class="spacing--horizontal-4"></div>
      </div>

    </div>
    <div class="page-testimonials__footer">
        <img class="logo__image" src="assets/logo.png"/>
    </div>
  </div>
</div>
