
@import 'styles/main';

html, body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  @include rem-baseline;
  font-size: 32px;
}

.menu {
  &__item {
    cursor: pointer;
    &--active {
      color: red;
      cursor: pointer;
    }
  }
}

.something {
  color: blue
}


.logo-image-example {
  background-color: black;
  &__image {
    height: 100px;
  }
}
