
@import 'styles/main';

html, body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  @include rem-baseline;
  font-size: 32px;
}

html{
    background-image: url("assets/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    color:white;
}
body{
  background-color:rgba(255,255,255,0.3);
}

.menu {
  display: flex;
  flex-direction: row;
  height: 5%;
  padding-top: 5px;
  &__item {
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    flex: 1;
    text-align: center;
    &--active {
      text-decoration: underline;
    }
  }
}

.something {
  color: blue
}


.logo {
  display: flex;
  justify-content: center;
  &__image {
    height: 50px;
  }
}