<div class="page--home">
  <div class="page--home__content">
    <div class="page--home__main">
      <div>
          <div class="home--title">Apium Academy</div>
          <div class="spacing--vertical-2"></div>
          <span class="home--subtitle">Frontend course</span>
      </div>
    </div>
    <div class="page--home__footer">
      <div class="footer--element"></div>
      <div class="footer--element">
        <div class="home--hour" >
          Hour: <span class="home--hour__value">18:30</span>
        </div>
      </div>
      <div class="footer--element">
        <div class="home--place" >
          Place: <span class="home--place__value">Barcelona</span>
        </div>
      </div>
    </div>
  </div>
</div>
